<div class="students">
  <div class="search d-flex justify-content-between">
    <div class="card mb-3 w-50">
      <div class="card-header">
        Filter
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputState">Class</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Stream</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <button type="button" class="btn btn-primary btn-md btn-block mt-4">Apply Filter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card mb-3 w-50 ml-3">
      <div class="card-header">
        Today's Statistics
      </div>
      <div class="card-body d-flex justify-content-around flex-wrap">
        <div>
          <p class="font-weight-bold">Number of payouts.</p>
          <p class="font-weight-bold text-center h4">50</p>
        </div>
        <div>
          <p class="font-weight-bold">Total payout amount.</p>
          <p class="font-weight-bold text-center h4">5000</p>
        </div>
        <div class="align-self-center">
          <button type="button" class="btn btn-success">CREATE STUDENT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="student-table">
    <div class="card">
      <div class="card-header">
        Student
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col-3">Admission No.</th>
              <th scope="col-3">First Name</th>
              <th scope="col-3">Balance</th>
              <th scope="col-3" class="text-center">This week's withdrawal</th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <tr>
                <th scope="row"><%= student.admission_number %></th>
                <td><%= student.first_name %> <%= student.middle_name %> <%= student.last_name %></td>
                <td>500</td>
                <% if [true, false].sample %>
                  <td class="d-flex justify-content-center"><input type="checkbox" checked></td>
                  <td><button type="button" class="btn btn-success">Withdraw</button></td>
                <% else %>
                  <td class="d-flex justify-content-center"><input type="checkbox"></td>
                  <td><button type="button" class="btn btn-success" disabled>Withdraw</button></td>
                <% end%>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</divd>