<div class="new-student p-5">
  <div class="card">
    <div class="card-header">
      New Student
    </div>
    <div class="card-body">
      <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputFirstName">First Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
          <label for="inputMiddleName">Middle Name </label>
          <input type="text" class="form-control" id="inputMiddleName" placeholder="Middle Name">
        </div>
        <div class="form-group col-md-4">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAdmissionNumber">Admission Number</label>
        <input type="text" class="form-control" id="inputAdmissionNumber" placeholder="Input the Admission Number">
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputClass">Class</label>
          <select id="inputClass" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputStream">Stream</label>
          <select id="inputStream" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
  </div>
</div>